.custom-border {
    border: 2px solid #ccc;
    border-radius: 10px;
}

img {
    width: 300px;
    height: 320px;
    object-fit: cover;
}

.faq-question {
    font-weight: bold;
    cursor: pointer;
}

.faq-answer {
    display: none;
}